* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* font-family: 'Source Serif Pro', serif; */
    font-family: 'Cormorant', serif;
    /* Limit how wide content grows on very large screens */
    max-width: 1800px;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* body>section {
    flex: 1;
} */

/* HERO IMAGE */
#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../images/hero_image.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* LOGO */
#quiz_heading {
    font-size: 2rem;
    text-align: center;
    font-family: 'Cormorant', serif;
    /* font-family: 'Source Serif Pro', serif; */
    font-size: 2rem;
    color: #305a4d;
    letter-spacing: .1ch;
    margin-top: -6.3rem;
    margin-left: 8rem;
}

#treble-clef {
    display: flex;
    align-content: center;
    max-width: 100%;
    height: auto;
    margin-top: -30rem;
}

/* FOOTER */
footer {
    background-color: #5A7D8C;
    color: #fff;
    padding: 20px;
}

.mediaicons {
    text-align: center;
}

.mediaicons li {
    display: inline-block;
    margin: 0 10px;
}

.icons {
    margin: 0;
    padding: 0;
}

.icons li {
    display: inline-block;
    margin: 0 10px;
}

.icons li a {
    color: #fff;
    font-size: 1.5rem;
}

.icons li a:hover {
    text-decoration: underline;
}

#disclaimer {
    text-align: center;
    font-family: 'Cormorant', serif;
    /* font-family: 'Source Serif Pro', serif; */
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MEDIA QUERIES */
/* @media only screen and (max-width: 480px) {
    #hero {
        height: auto;
    }
} */
